:root {
    --background: #ffdfdf;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #ffffff;
    --navbar-dark-secondary: #017f25;
    --navbar-light-primary: #05ac34;
    --navbar-light-secondary: #01b033;
  }

  i {
    font-size: 1.6rem;

  }

  html, body {
    margin: 0;
    background: var(--background);
  }
  
  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }
  #nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
  }
  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
  }
  #nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
  }
  #nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
  }
  #nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
  
  #nav-bar {
    position: fixed;
    left: 1vw;
    top: 1vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  }
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  }
  #nav-bar input[type=checkbox] {
    display: none;
  }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
  }
  #nav-header hr {
    position: absolute;
    bottom: 0;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }
  
  label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #nav-footer-title{
    color: var(--navbar-dark-primary)!important;
  }

  #nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
  }

  #nav-toggle-burger:before, #nav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
  }
  #nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
  }
  
  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
  }
  #nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  #nav-content::-webkit-scrollbar-button {
    height: 16px;
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
  }
  #nav-content-highlight:before, #nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }
  #nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
  
  .nav-button {
    position: relative;
    margin-left: 25px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
  }
  .nav-button span {
    transition: opacity 1s;
  }
  .nav-button .fas {
    transition: min-width 0.2s;
  }
  .nav-button:nth-of-type(1):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
    top: 16px;
  }
  .nav-button:nth-of-type(2):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
    top: 70px;
  }
  .nav-button:nth-of-type(3):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
    top: 124px;
  }
  .nav-button:nth-of-type(4):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
    top: 178px;
  }
  .nav-button:nth-of-type(5):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
    top: 232px;
  }
  .nav-button:nth-of-type(6):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
    top: 286px;
  }
  .nav-button:nth-of-type(7):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
    top: 340px;
  }
  .nav-button:nth-of-type(8):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
    top: 394px;
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
  }
  #nav-footer-avatar img {
    height: 100%;
  }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-dark-primary);
    font-size: 0.6rem;
  }
  
  #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
  }
  #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
  }
  #nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }

  #media-uploader1 .dz-message {
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
    color: #a0a5aa;
  }
  /* ********************************************* */
  #media-uploader1 {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 150px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    display: table;
    padding: 20px 20px;
  }
  #media-uploader1.dz-clickable {
    cursor: pointer;
  }
  #media-uploader1.dz-clickable * {
    cursor: default;
  }
  #media-uploader1.dz-clickable .dz-message,
  #media-uploader1.dz-clickable .dz-message * {
    cursor: pointer;
  }
  #media-uploader1.dz-started .dz-message {
    display: none;
  }
  #media-uploader1.dz-drag-hover {
    border-style: solid;
  }
  #media-uploader1.dz-drag-hover .dz-message {
    opacity: 0.5;
  }
  #media-uploader1 .dz-message {
    text-align: center;
    margin: auto 0 !important;
  }
  #media-uploader1 .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
  }
  #media-uploader1 .dz-preview:hover {
    z-index: 1000;
  }
  #media-uploader1 .dz-preview:hover .dz-details {
    opacity: 1;
  }
  #media-uploader1 .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
  }
  #media-uploader1 .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
  }
  #media-uploader1 .dz-preview.dz-image-preview {
    background: white;
    border: 1px #333 dashed;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=124, Color=#7A7A7A)"; /*IE 8*/
    -moz-box-shadow: 4px 6px 0 rgba(122, 122, 122, 0.7); /*FF 3.5+*/
    -webkit-box-shadow: 4px 6px 0 rgba(122, 122, 122, 0.7); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 4px 6px 0 rgba(122, 122, 122, 0.7); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#7A7A7A); /*IE 5.5-7*/
  }
  #media-uploader1 .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  #media-uploader1 .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
  }
  #media-uploader1 .dz-preview .dz-remove:hover {
    text-decoration: underline;
  }
  #media-uploader1 .dz-preview:hover .dz-details {
    opacity: 1;
  }
  #media-uploader1 .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%;
  }
  #media-uploader1 .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px;
  }
  #media-uploader1 .dz-preview .dz-details .dz-filename {
    white-space: nowrap;
  }
  #media-uploader1 .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
  }
  #media-uploader1 .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #media-uploader1 .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent;
  }
  #media-uploader1 .dz-preview .dz-details .dz-filename span,
  #media-uploader1 .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px;
  }
  #media-uploader1 .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
  #media-uploader1 .dz-preview .dz-image {
    border-radius: 12px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
  }
  #media-uploader1 .dz-preview .dz-image img {
    display: block;
  }
  #media-uploader1 .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  }
  #media-uploader1 .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  }
  #media-uploader1 .dz-preview .dz-success-mark,
  #media-uploader1 .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
  }
  #media-uploader1 .dz-preview .dz-success-mark svg,
  #media-uploader1 .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px;
  }
  #media-uploader1 .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  #media-uploader1 .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
  }
  #media-uploader1 .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite;
  }
  #media-uploader1 .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 8px;
    overflow: hidden;
  }
  #media-uploader1 .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: -webkit-linear-gradient(#666, #444);
    background: -o-linear-gradient(#666, #444);
    background: linear-gradient(#666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
  }
  #media-uploader1 .dz-preview.dz-error .dz-error-message {
    display: block;
  }
  #media-uploader1 .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto;
  }
  #media-uploader1 .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
  }
  #media-uploader1 .dz-preview .dz-error-message:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #be2626;
  }
  /* ********************************************* */
  #media-uploader1 .dz-preview .dz-image-preview {
    background-color: transparent;
  }
  /* estilos de dropzone 2  */
  #media-uploader2 {
    border: 4px dashed rgb(0, 115, 170);
    background: none;
    height: 200px;
  }
  
  #media-uploader2 .dz-message {
    font-size: 25px;
    color: #a0a5aa;
  }
  
.input {
  width: 300px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem !important;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  margin: 30px 50px;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}